# Игнорируем node_modules (локальные модули могут быть собраны в контейнере)
node_modules
build
.cache

# Игнорируем файлы конфигурации среды и секреты
.env
.env.*

# Игнорируем систему контроля версий
.git

# Игнорируем журналы
*.log

# Игнорируем временные файлы и папки
*.tmp
*.swp
.DS_Store

# Игнорируем файлы Docker
Dockerfile
.dockerignore

# Игнорируем тесты
tests
coverage

# Игнориуем иные файлы
README.md