# AWS / SQS
AWS_REGION=ru-central1
AWS_ENDPOINT=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
QUEUE_URL=

# SMTP
SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
SMTP_USER=
SMTP_PASSWORD=
EMAIL_FROM=
EMAIL_TO=                     # comma-separated for multiple recipients
EMAIL_ENABLED=true            # set to false to disable email notifications

# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=             # comma-separated for multiple recipients
TELEGRAM_ENABLED=true         # set to false to disable telegram notifications
