# Dependencies
node_modules/

# Build output
src/*/dist/
*.zip

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars

# Environment
.env
.env.*

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
