# Dependencies
node_modules/

# Build output
src/*/dist/
*.zip
*.tsbuildinfo

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars

# Environment
.env
.env.*
!.env.example
!src/**/.env.example

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
